In [ ]:
use Northwind;

1. Napisz polecenie, które oblicza wartość sprzedaży dla każdego zamówienia i wynik zwraca posortowany w malejącej kolejności (wg wartości sprzedaży).

In [ ]:
SELECT OrderID, sum(UnitPrice * Quantity * Discount) as 'sum_of_products' 
    from [order details] 
    group by OrderID 
    order by sum_of_products desc;

2. Zmodyfikuj zapytanie z punktu 1., tak aby zwracało pierwszych 10 wierszy

In [ ]:
SELECT top 10 OrderID, sum(UnitPrice * Quantity) as 'sum_of_products' 
    from [order details] 
    group by OrderID 
    order by sum_of_products desc;

3. Zmodyfikuj zapytanie z punktu 2., tak aby zwracało 10 pierwszych produktów wliczając równorzędne. Porównaj wyniki.

In [ ]:
SELECT top 10 WITH TIES OrderID, sum(UnitPrice * Quantity) as 'sum_of_products' 
    from [order details] 
    group by OrderID 
    order by sum_of_products desc;

## Ćwiczenie 2

1. Podaj liczbę zamówionych jednostek produktów dla produktów o
identyfikatorze < 3

In [ ]:
select sum(quantity) as 'sum_of_quantity', ProductID 
    from [order details] 
    where ProductID < 3 
    group by productID;

2. Zmodyfikuj zapytanie z punktu 1. tak aby podawało liczbę zamówionych jednostek produktu dla wszystkich produktów.

In [ ]:
select sum(quantity) as 'sum_of_quantity', ProductID 
    from [order details] 
    group by productID;

3. Podaj wartość zamówienia dla każdego zamówienia, dla którego łączna liczba zamawianych jednostek produktów jest > 250.

In [ ]:
select productid, sum(quantity) as 'total_quantity' from [order details]
    group by ProductID
    having sum(quantity) > 250
    order by total_quantity desc;

### Ćwiczenie 3

1. Napisz polecenie, które oblicza sumaryczną ilość zamówionych towarów i porządkujewg produktid i orderid oraz wykonuje kalkulacje rollup

In [ ]:
select sum(quantity) as 'suma', productid, orderid 
    from [order details]
    group by rollup(productid, orderid)
    order by suma desc;

2. Zmodyfikuj zapytanie z punktu 1., tak aby ograniczyć wynik tylko do produktu o numerze 50

In [ ]:
select sum(quantity) as 'suma', productid, orderid 
    from [order details]
    where productid = 50
    group by rollup(productid, orderid)
    order by suma desc;

3. Jakie jest znaczenie wartości null w kolumnie productid i orderid?

```Duze, bardzo duze ->  to podsumowania```

4. Zmodyfikuj polecenie z punktu 1. używając operatora cube zamiast rollup. Użyj również funkcji grouping na kolumnach productid i orderid do rozróżnienia między sumarycznymi i szegółowymi wierdszami w zbiorze.

In [ ]:
select productid, orderid, sum(quantity) as 'suma', grouping(orderid) as 'orderidgroup', grouping(productid) as 'productidgroup'
    from [order details]
    group by cube(productid, orderid)
    order by suma desc;

### Ćwiczenie 4
1. Dla każdego pracownika podaj liczbę obsługiwanych przez niego zamówień
2. Dla każdego spedytora/przewoźnika podaj wartość "opłata za przesyłkę"
przewożonych przez niego zamówień
3. Dla każdego spedytora/przewoźnika podaj wartość "opłata za przesyłkę"
przewożonych przez niego zamówień w latach o 1996 do 1997

In [ ]:
SELECT COUNT(*),EmployeeID from Orders GROUP BY EmployeeID;

### Ćwiczenie 5

1. Dla każdego pracownika podaj liczbę obsługiwanych przez niego zamówień z podziałem na lata i miesiące

In [ ]:
SELECT COUNT(*),EmployeeID,YEAR(ShippedDate)as year,MONTH(ShippedDate) as month 
    FROM Orders 
    GROUP BY EmployeeID,YEAR(ShippedDate),MONTH(ShippedDate) 
    WITH ROLLUP;

2. Dla każdej kategorii podaj maksymalną i minimalną cenę produktu w tej kategorii

In [ ]:
SELECT MAX(UnitPrice)as max,MIN(UnitPrice) as min, CategoryID
    FROM Products
    GROUP BY CategoryID;