In [ ]:
USE Library;

# Ćwiczenie 1 - wybieranie danych

---

1. Napisz polecenie select, za pomoca którego uzyskasz tytuł i numer książki

In [ ]:
select title_no,title from title;

2. Napisz polecenie, które wybiera tytuł o numerze 10

In [ ]:
select title from title where title_no=10;

3. Napisz polecenie, które wybiera numer czytelnika i karę
dla tych czytelników, którzy mają kary między $8 a $9

In [ ]:
select member_no,fine_assessed from loanhist WHERE fine_assessed BETWEEN 8.00 and 9.00

4. Napisz polecenie select, za pomocą którego uzyskasz
numer książki i autora dla wszystkich książek, których
autorem jest Charles Dickens lub Jane Austen

In [ ]:
SELECT title_no,title from title WHERE author like '%Charles Dickens%' or author LIKE '%Jane Austen%'

5. Napisz polecenie, które wybiera numer tytułu i tytuł dla wszystkich rekordów zawierających string „adventure” gdzieś w tytule.

In [ ]:
select title_no,title from title where title like '%adventure%'

6. Napisz polecenie, które wybiera numer czytelnika, karę
oraz zapłaconą karę dla wszystkich, którzy jeszcze nie
zapłacili.

In [ ]:
select member_no,fine_assessed,fine_paid from loanhist where fine_paid != fine_assessed;

7. Napisz polecenie, które wybiera wszystkie unikalne pary
miast i stanów z tablicy adult.

In [ ]:
select distinct adult.city, adult.state from adult

## Ćwiczenia 2 - manipulowanie wynikowym zbiorem

1. Napisz polecenie, które wybiera wszystkie tytuły z tablicy
title i wyświetla je w porządku alfabetycznym.

In [ ]:
select title from title order by title asc;

2. Napisz polecenie, które:

- wybiera numer członka biblioteki, isbn książki i wartość naliczonej kary dla wszystkich wypożyczeń, dla których naliczono karę

In [ ]:
select member_no,isbn,sum(fine_assessed) as 'sum_of_fines' from loanhist WHERE fine_assessed is not NULL GROUP by member_no,isbn order by sum_of_fines desc;

- stwórz kolumnę wyliczeniową zawierającą podwojoną wartość kolumny fine\_assessed
    
- stwórz alias ‘double fine’ dla tej kolumny

In [ ]:
select member_no,isbn,sum(fine_assessed) as 'sum_of_fines',(fine_assessed *2) as 'double_fine' 
    from loanhist 
    WHERE fine_assessed is not NULL 
    GROUP by member_no,isbn 
    order by sum_of_fines desc;

3. Napisz polecenie, które

- generuje pojedynczą kolumnę, która zawiera kolumny: imię członka biblioteki, inicjał drugiego imienia i nazwisko dla wszystkich członków biblioteki, którzy nazywają się Anderson nazwij tak powstałą kolumnę „email\_name”
- zmodyfikuj polecenie, tak by zwróciło „listę proponowanych loginów e-mail” utworzonych przez połączenie imienia członka biblioteki, z inicjałem drugiego imienia i pierwszymi dwoma literami nazwiska (wszystko małymi literami).

In [ ]:
select (firstname + ' ' + middleinitial + '. ' + lastname) as 'email_name' 
    from member 
    where lastname = 'Anderson';

3. Napisz polecenie, które

  

- generuje pojedynczą kolumnę, która zawiera kolumny: imię
członka biblioteki, inicjał drugiego imienia i nazwisko dla
wszystkich członków biblioteki, którzy nazywają się Anderson

- nazwij tak powstałą kolumnę „email\_name”

- zmodyfikuj polecenie, tak by zwróciło „listę proponowanych
loginów e-mail” utworzonych przez połączenie imienia członka
biblioteki, z inicjałem drugiego imienia i pierwszymi dwoma
literami nazwiska (wszystko małymi literami).

In [ ]:
select (lower(REPLACE(firstname,' ','') +  TRIM(middleinitial) + substring(lastname,1,2))) as 'email_name' 
    from member 
    where lastname = 'Anderson';

4. Napisz polecenie, które wybiera title i title\_no z tablicy
title.

- Wynikiem powinna być pojedyncza kolumna o formacie jak w
przykładzie poniżej:

    `The title is: Poems, title number 7`

In [ ]:
select ('The title is: ' + title + ', title number: ' + Ltrim(str(title_no))) as 'title_and_no' 
    from title;