# Ćwiczenia 1 - Postawowe Komendy

In [ ]:
use Northwind;

## Postawowe SELECTY
1. Wybierz nazwy i adresy wszystkich klientów

In [ ]:
SELECT ContactName, Address FROM Customers;

2\. Wybierz nazwiska i numery telefonów pracowników

In [ ]:
SELECT LastName, HomePhone FROM Employees;

3\. Wybierz nazwy i ceny produktów

In [ ]:
SELECT ProductName, UnitPrice FROM Products;

4\. Pokaż wszystkie kategorie produktów (nazwy i opisy)

In [ ]:
SELECT CategoryName, [Description] FROM Categories;

5\. Pokaż nazwy i adresy stron www dostawców

In [ ]:
SELECT CompanyName, HomePage FROM Suppliers;

## Wybory Wierszy
1. Wybierz nazwy i adresy wszystkich klientów mających siedziby w Londynie

In [ ]:
SELECT * 
    FROM Customers 
    WHERE City 
    LIKE 'London';

2. Wybierz nazwy i adresy wszystkich klientów mających siedziby we Francji lub w Hiszpanii

In [ ]:
SELECT * 
    FROM Customers 
    WHERE Country 
    LIKE 'France' 
        OR Country LIKE 'Spain';

3. Wybierz nazwy i ceny produktów o cenie jednostkowej pomiędzy 20.00 a 30.00

In [ ]:
SELECT * 
    FROM Products 
    WHERE UnitPrice 
    BETWEEN 20.00 
        AND 30.00;

4. Wybierz nazwy i ceny produktów z kategorii ‘meat’

In [ ]:
SELECT ProductName, UnitPrice
    FROM Products 
    WHERE CategoryID = 6;

5. Wybierz nazwy produktów oraz inf. o stanie magazynu dla produktów dostarczanych przez firmę ‘Tokyo Traders’

In [ ]:
DECLARE @id INT;

SET @id = (SELECT SupplierID FROM Suppliers WHERE CompanyName = 'Tokyo Traders');

SELECT ProductName FROM Products WHERE SupplierID LIKE @id;

6. Wybierz nazwy produktów których nie ma w magazynie

In [ ]:
USE Northwind;
SELECT ProductName 
    FROM Products 
    WHERE UnitsInStock = 0;

## Porównywanie napisów - ćwiczenie

1. Szukamy informacji o produktach sprzedawanych w butelkach (‘bottle’)

In [ ]:
SELECT * 
    FROM Products 
    WHERE QuantityPerUnit LIKE '%bottle%';

2. Wyszukaj informacje o stanowisku pracowników, których nazwiska zaczynają się na literę z zakresu od B do L

In [ ]:
SELECT * 
    FROM Employees 
    WHERE LastName LIKE '[B-L]%';

3. Wyszukaj informacje o stanowisku pracowników, których nazwiska zaczynają się na literę B lub L

In [ ]:
SELECT *
    FROM Employees
    WHERE LastName LIKE '[BL]%';

4. Znajdź nazwy kategorii, które w opisie zawierają przecinek

In [ ]:
SELECT CategoryName
    FROM Categories
    WHERE [Description] LIKE '%,%';

5. Znajdź klientów, którzy w swojej nazwie mają w którymś miejscu słowo ‘Store

In [ ]:
SELECT *
    FROM Customers
    WHERE [CompanyName] LIKE '%Store%';

## Zakres wartości
1. Szukamy informacji o produktach o cenach mniejszych niż 10 lub większych niż 20

In [ ]:
SELECT *
    FROM Products
    WHERE UnitPrice < 10 OR UnitPrice > 20
    ORDER BY UnitPrice ASC;

2. Wybierz nazwy i ceny produktów o cenie jednostkowej pomiędzy 20.00 a 30.00

In [ ]:
SELECT *
    FROM Products
    WHERE UnitPrice BETWEEN 20 and 30
    ORDER BY UnitPrice ASC;

## Warunki logiczne
1. Wybierz nazwy i kraje wszystkich klientów mających siedziby w Japonii lub we Włoszech

In [ ]:
SELECT *
    FROM Customers
    WHERE Country LIKE 'Japan' OR Country LIKE 'Italy';

## ORDER BY
1. Wybierz nazwy i kraje wszystkich klientów, wyniki posortuj według kraju, w ramach danego kraju nazwy firm posortuj alfabetycznie

In [ ]:
SELECT CompanyName, Country
    FROM Customers
    ORDER BY Country, CompanyName ASC;

2. Wybierz informację o produktach (grupa, nazwa, cena), produkty posortuj wg grup a w grupach malejąco wg ceny

In [ ]:
SELECT CategoryID, ProductName, UnitPrice
    FROM Products
    ORDER BY CategoryID, UnitPrice DESC;

3. Wybierz nazwy i kraje wszystkich klientów mających siedziby w Japonii (Japan) lub we Włoszech (Italy), wyniki posortuj tak jak w pkt 1

In [ ]:
SELECT CompanyName, Country
    FROM Customers
    WHERE Country LIKE 'Japan' 
        OR Country LIKE 'Italy'
    ORDER BY Country, CompanyName DESC;

## Ćwiczenia na koniec :)
1. Napisz polecenie, które oblicza wartość każdej pozycji zamówienia o numerze 10250

In [ ]:
SELECT ProductID,(UnitPrice * Quantity) as 'value' FROM [Order Details] WHERE OrderID = 10250;

2. Napisz polecenie które dla każdego dostawcy (supplier) pokaże pojedynczą kolumnę zawierającą nr telefonu i nr faksu w formacie (numer telefonu i faksu mają być oddzielone przecinkiem)

In [ ]:
SELECT (Phone + ', ' + Fax) as 'Contact'
    FROM Suppliers;