# Joiny

1. Wybierz nazwy i ceny produktów (baza northwind) o cenie jednostkowej pomiędzy 20.00 a 30.00, dla każdego produktu podaj dane adresowe dostawcy.

In [ ]:
SELECT ProductName, UnitPrice, Suppliers.Address + ' ' + Suppliers.City
FROM Products inner join Suppliers
ON Products.SupplierID = Suppliers.SupplierID
WHERE UnitPrice BETWEEN 20.00 and 30.00;

2. Wybierz nazwy produktów oraz inf. o stanie magazynu dla produktów dostarczanych przez firmę ‘Tokyo Traders’

In [ ]:
SELECT ProductName, UnitsInStock, CompanyName
FROM Products INNER JOIN Suppliers
ON Products.SupplierID = Suppliers.SupplierID
WHERE CompanyName = 'Tokyo Traders';

3. Czy są jacyś klienci którzy nie złożyli żadnego zamówienia w 1997 roku, jeśli tak to pokaż ich dane adresowe

In [ ]:
SELECT DISTINCT CompanyName, Address, City
FROM Customers INNER JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE YEAR(OrderDate) != 1997;

4. Wybierz nazwy i numery telefonów dostawców, dostarczających produkty, których aktualnie nie ma w magazynie

In [ ]:
SELECT Suppliers.Phone, Suppliers.CompanyName
FROM Suppliers INNER JOIN Products
ON Suppliers.SupplierID = Products.SupplierID
WHERE UnitsInStock = 0 OR UnitsInStock IS Null;

---

1. Napisz polecenie, które wyświetla listę dzieci będących członkami biblioteki (baza library). Interesuje nas imię, nazwisko, data urodzenia dziecka.

In [ ]:
use library;
SELECT member.FirstName, member.LastName
FROM member INNER JOIN juvenile
ON juvenile.member_no = member.member_no

2. Napisz polecenie, które podaje tytuły aktualnie wypożyczonych książek

In [ ]:
SELECT title.title 
FROM title inner join loanhist
ON title.title_no = loanhist.title_no
WHERE out_date is not null and in_date is null;

3. Podaj informacje o karach zapłaconych za przetrzymywanie książki o tytule ‘Tao
Teh King’. Interesuje nas data oddania książki, ile dni była przetrzymywana i jaką
zapłacono karę

In [ ]:
select loanhist.fine_paid, loanhist.in_date, DATEDIFF(Day,loanhist.in_date,loan.out_date)
FROM loanhist INNER JOIN title
    ON loanhist.title_no = title.title_no
INNER JOIN loan
    ON loanhist.title_no = loan.title_no
WHERE title.title = 'Tao Teh King' AND loanhist.fine_paid is not null

4. Napisz polecenie które podaje listę książek (mumery ISBN) zarezerwowanych
przez osobę o nazwisku: Stephen A. Graff

In [ ]:
SELECT isbn 
FROM loan 
INNER JOIN member
ON member.member_no = loan.member_no
WHERE firstname = 'Stephen' and lastname ='Graff' and middleinitial = 'A'

---
1. Napisz polecenie, które wyświetla pracowników oraz ich podwładnych (baza northwind)

In [ ]:
select f.firstname + ' ' + f.LastName as szef, s.firstname +  ' ' + s.LastName  as podwladny
from Employees as f
JOIN Employees as s
    ON f.EmployeeID = s.ReportsTo

2. Napisz polecenie, które wyświetla pracowników, którzy nie mają podwładnych (baza northwind)

In [ ]:
select * from Employees where ReportsTo is null;

3. Napisz polecenie, które wyświetla adresy członków biblioteki, którzy mają dzieci urodzone przed 1 stycznia 1996

In [ ]:
SELECT DISTINCT CONCAT(a.street,' ',a.city,' ',a.state,' ',a.zip)
FROM member as m
INNER JOIN adult as a
    ON m.member_no = a.member_no
INNER JOIN juvenile as j
    ON j.adult_member_no = m.member_no
WHERE YEAR(j.birth_date) < 1996

4. Napisz polecenie, które wyświetla adresy członków biblioteki, którzy mają dzieci urodzone  rzed 1 stycznia 1996. Interesują nas tylko adresy takich członków biblioteki, którzy aktualnie nie przetrzymują książek.

In [ ]:
SELECT DISTINCT CONCAT(a.street,' ',a.city,' ',a.state,' ',a.zip) as address
FROM adult as a
INNER JOIN member as m
    ON m.member_no = a.member_no
INNER JOIN juvenile as j
    ON j.adult_member_no = a.member_no
WHERE YEAR(j.birth_date) < 1996 and m.member_no not in (SELECT member_no from loan)

---
1. Napisz polecenie które zwraca imię i nazwisko (jako pojedynczą kolumnę – name), oraz  nformacje o adresie: ulica, miasto, stan kod (jako pojedynczą kolumnę – address) dla wszystkich dorosłych członków biblioteki

In [ ]:
select CONCAT(member.firstname, ' ', member.lastname) as name
FRom member
left join adult
    on adult.member_no = member.member_no
where adult.member_no is not NULL

2. Napisz polecenie, które zwraca: isbn, copy_no, on_loan, title, translation, cover, dla książek o isbn 1, 500 i 1000. Wynik posortuj wg ISBN

In [ ]:
select c.isbn, c.copy_no, c.on_loan, t.title, i.translation, i.cover
FROM copy as c
LEFT JOIN item as i
    ON c.isbn = i.isbn
LEFT JOIN title as t
    ON t.title_no = c.title_no
WHERE c.isbn = 1 or c.isbn = 500 or c.isbn = 1000
ORDER BY c.isbn

3. Napisz polecenie które zwraca o użytkownikach biblioteki o nr 250, 342, i 1675 (dla każdego użytkownika: nr, imię i nazwisko członka biblioteki), oraz informację o zarezerwowanych książkach (isbn, data)

In [ ]:
SELECT m.member_no, m.firstname, m.lastname, r.isbn, r.log_date
FROM member as m
LEFT JOIN reservation as r
    ON m.member_no = r.member_no
WHERE m.member_no = 250 or m.member_no = 342 or m.member_no = 1675
ORDER BY m.member_no

4. Podaj listę członków biblioteki mieszkających w Arizonie (AZ) mają więcej niż dwoje dzieci zapisanych do biblioteki

In [ ]:
SELECT m.*
FROM member as m
INNER JOIN adult as a
    ON a.member_no = m.member_no
WHERE m.member_no in (
        SELECT adult_member_no 
            FROM juvenile 
            GROUP BY adult_member_no 
            HAVING COUNT(*) > 1) 
    AND a.state = 'AZ'

---
1. Podaj listę członków biblioteki mieszkających w Arizonie (AZ) którzy mają więcej
niż dwoje dzieci zapisanych do biblioteki oraz takich którzy mieszkają w Kaliforni
(CA) i mają więcej niż troje dzieci zapisanych do biblioteki

In [ ]:
SELECT m.*
FROM member as m
INNER JOIN adult as a
    ON a.member_no = m.member_no
WHERE m.member_no in (
        SELECT adult_member_no 
            FROM juvenile 
            GROUP BY adult_member_no 
            HAVING COUNT(*) > 1) 
    AND a.state = 'AZ'

UNION

SELECT m.*
FROM member as m
INNER JOIN adult as a
    ON a.member_no = m.member_no
WHERE m.member_no in (
        SELECT adult_member_no 
            FROM juvenile 
            GROUP BY adult_member_no 
            HAVING COUNT(*) > 2) 
    AND a.state = 'CA'