In [ ]:
use Northwind;

1. Podaj liczbę produktów o cenach mniejszych niż 10$ lub większych niż 20$

In [ ]:
SELECT COUNT(*)
    FROM Products
    WHERE UnitPrice < 10 or UnitPrice > 20;

2. Podaj maksymalną cenę produktu dla produktów o cenach poniżej 20$

In [ ]:
SELECT MAX(UnitPrice)
    FROM Products
    WHERE UnitPrice < 20;

3. Podaj maksymalną i minimalną i średnią cenę produktu dla produktów o produktach sprzedawanych w butelkach (‘bottle’)

In [ ]:
SELECT MAX(UnitPrice) as 'max', MIN(UnitPrice) as 'min', AVG(UnitPrice) as'avg'
    FROM Products
    WHERE Products.QuantityPerUnit LIKE '%bottle%';

4. Wypisz informację o wszystkich produktach o cenie powyżej średniej

In [ ]:
SELECT *
    FROM Products 
    WHERE UnitPrice > (SELECT AVG(UnitPrice) FROM Products);

5. Podaj sumę/wartość zamówienia o numerze 10250

In [ ]:
SELECT cast(SUM(UnitPrice*Quantity*(1-Discount)) AS DECIMAL(10,2)) AS 'value' 
    FROM [Order Details]
    WHERE OrderID = 10250;

## Group ćw
1. Podaj maksymalną cenę zamawianego produktu dla każdego zamówienia

In [ ]:
SELECT MAX(UnitPrice) as'max', OrderID
    FROM [Order Details]
    GROUP BY OrderID;

2. Posortuj zamówienia wg maksymalnej ceny produktu

In [ ]:
SELECT MAX(UnitPrice) as'max', OrderID
    FROM [Order Details]
    GROUP BY OrderID
    ORDER BY max DESC;

3. Podaj maksymalną i minimalną cenę zamawianego produktu dla każdego zamówienia

In [ ]:
SELECT MAX(UnitPrice) as max, MIN(UnitPrice) as min
    FROM [Order Details]
    GROUP BY OrderID;

4. Podaj liczbę zamówień dostarczanych przez poszczególnych spedytorów (przewoźników)

In [ ]:
SELECT COUNT(*) as 'cnt', (SELECT CompanyName From Shippers where ShipperID = ShipVia) as 'CompanyName'
    FROM [Orders]
    GROUP BY ShipVia;

5. Który z spedytorów był najaktywniejszy w 1997 roku

In [ ]:
SELECT TOP 1 WITH TIES COUNT(*) as 'cnt', (SELECT CompanyName From Shippers where ShipperID = ShipVia) as 'CompanyName'
    FROM [Orders]
    WHERE YEAR(ShippedDate) = 1997
    GROUP BY ShipVia
    ORDER BY cnt DESC;

1. Wyświetl zamówienia dla których liczba pozycji zamówienia jest większa niż 5

In [ ]:
SELECT OrderID 
    FROM [Order Details]
    GROUP BY OrderID
    HAVING COUNT(*) > 5

2. Wyświetl klientów dla których w 1998 roku zrealizowano więcej niż 8 zamówień (wyniki posortuj malejąco wg łącznej kwoty za dostarczenie zamówień dla każdego z klientów)

In [ ]:
SELECT CustomerID, SUM(Freight)
    FROM Orders
    WHERE (YEAR(ShippedDate) BETWEEN 1998 and 1998)
    GROUP BY CustomerID
    HAVING Count(*) > 8
    ORDER BY SUM(Freight) desc;

1. Ile lat przepracował w firmie każdy z pracowników?

In [ ]:
select EmployeeID,HireDate,DATEDIFF(YEAR,HireDate,GETDATE()) 
    from Employees;

2. Policz sumę lat przepracowanych przez wszystkich pracowników i średni czas pracy w firmie

In [ ]:
SELECT SUM(DATEDIFF(YEAR,HireDate,GETDATE())), AVG(DATEDIFF(YEAR,HireDate,GETDATE())) 
    FROM Employees

3\. Dla każdego pracownika wyświetl imię, nazwisko i wiek.

In [ ]:
SELECT FirstName, LastName, DATEDIFF(YEAR,BirthDate,GETDATE()) as 'age'
    FROM Employees;

4. Policz średni wiek wszystkich pracowników.

In [ ]:
SELECT avg(DATEDIFF(YEAR,BirthDate,GETDATE())) as 'avg_age'
    FROM Employees;

5. Wyświetl wszystkich pracowników, którzy mają więcej niż 25 lat.

In [ ]:
SELECT DATEDIFF(YEAR,BirthDate,GETDATE()) as 'age', * 
    FROM Employees
    WHERE DATEDIFF(YEAR,BirthDate,GETDATE()) > 65;

6. Policz średnią liczbę miesięcy przepracowanych przez każdego pracownika.

In [ ]:
SELECT AVG(DATEDIFF(MONTH,hireDate,GETDATE()))
    FROM Employees;

7. Wyświetl dane wszystkich pracowników, którzy przepracowali w firmie co najmniej -- 320 miesięcy, ale nie więcej niż 333

In [ ]:
SELECT DATEDIFF(MONTH,hireDate,GETDATE()),*
    FROM Employees
    WHERE DATEDIFF(MONTH,hireDate,GETDATE()) BETWEEN 320 AND 333;